/* Commom css */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
:root {
  --background-white: white;
  --background-black: black;
  --color-black: black;
  --color-white: white;
  --background-orange: orange;
  --color-orange: orange;
}
/* hedar start */
ul,
p {
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  display: block;
  width: 100%;
  max-width: 1800px;
  box-sizing: border-box;
}
.ul {
  display: flex;
  width: 100%;
}
.a1 {
  width: 15%;
  list-style: none;
}
.ul .a1 {
  left: 10%;
}
li {
  list-style: none;
}

.navigation {
  z-index: 11;
  top: 0;
  display: flex;
  background-color: var(--background-white);
  /* position: sticky; */
}
a {
  text-decoration: none;
  color: var(--color-black);
}
.hedaer-top {
  display: flex;
  width: 100%;
  align-items: center;
  height: 86px;
}
.hedaer-top .logo {
  width: 10%;
}
.hedaer-top .menu {
  width: 70%;
}
.hedaer-top .menu > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.hedaer-top .menu ul > li {
  position: relative;
}
.hedaer-top .menu ul > li > a {
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 10px;
}

.hedaer-top .menu .dropdown-1 {
  position: absolute;
  top: 100%;
  display: none;
  padding: 10px;
  background: var(--background-white);
  color: var(--color-black);
  opacity: 0;
  width: 300px;
}
li a:hover {
  color: var(--color-orange);
}
.dropdown-1 a:hover {
  color: var(--color-orange);
}
.hedaer-top .menu ul > li:hover .dropdown-1 {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  display: block;
}
.hedaer-top .menu ul li > .dropdwon-2 {
  position: absolute;
  background: var(--background-white);
  color: var(--color-black);
  display: none;
  padding: 10px;
  opacity: 0;
  width: 900px;
  z-index: 2;
}
.hedaer-top .menu ul li:hover > .dropdwon-2 {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  display: block;
}
.shope-dropdwon-2 {
  display: flex;
}
.dropdwon-2 a:hover {
  color: var(--color-orange);
}
.hedaer-top .menu ul li > .dropdwon-2 > ul > li > a {
  display: block;
  color: var(--color-white);
}
.hedaer-top .social {
  width: 20%;
  display: flex;
  justify-content: end;
}
.hedaer-top .social i {
  padding: 0 10px;
}
@media (max-width: 767px) {
  .hedaer-top {
    display: none;
  }
}
/* hedar end */

/*text start  */
.text-1 {
  font-size: 54px;
  font-weight: bold;
}
/* text end */

/* images start */
img {
  width: 100%;
  height: 900px;
  margin-top: 14px;
  border-radius: 24px;
}
/* images end */

/* graph start */
.text{
  width: 100%;
  display: flex;
}
.text .txt-1{
  width: 30%;
  margin-top: 50px;
  font-size: 30px;
  color: black;
}
.text .txt-2{
  width: 70%;
  margin-top: 50px;
  font-size: 25px;
  color: grey;
}

/* graph end */

/* number start */
.r1 {
  display: flex;
  margin-top: 29px;
  /* width: 100%; */
  margin-left: 9%;
}
.r1 .t1 {
  display: flex;
  width: 25%;
  margin-top: 30px;
}

.text-3 {
  font-size: 69px;
  font-weight: 700;
  text-align: center;
}
.text-4 {
  margin-top: 10px;
  text-align: center;
  font-size: 23px;
  color: gray;
}

/* number end */

/* onner photo */
.main-outer-2 {
  width: 100%;
  display: flex;
  margin-top: 35px;
}
.text-5 {
  text-align: center;
  margin-top: 45px;
  font-size: 87px;
}
.main-outer-2 .room-3 {
  width: 100%; 
  max-width:700px;
  border-radius: 10px;
  position: relative;
}
.room-3 img {
  width: 100%;
  height: 500px; 
  border: 1px solid transparent;
  border-radius: 20px;
  margin-top: 0px;
}
.main-outer-2 .room-3 .item-inner-3 {
  height: 500px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
}
.room-3 .item-inner-3:hover img {
  transform: scale(1.08);
  transition: all 0.9s ease-in-out;
  border-radius: 20px;
  border: 1px;
}
.content-1 .title {
  text-align: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid transparent;
  border-top-right-radius: 47px;
  background-color: white;
  color: gray;
  padding: 10px;
}
.content-1 .price {
  text-align: center;
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid transparent;
  background-color: white;
  padding: 10px;
}
.content-1 {
  position: absolute;
  bottom: -59px;
  left: -1px;
  width: 62%;
  line-height: 25px;
}
/* onner photo */
/* footer strat */
footer {
  background-color: #1c1c1c;
  color: var(--color-white);
  padding: 40px 0;
  /* margin: 83px 0px; */
  margin-top: 71px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 24px;
}

.footer-section h4 {
  font-size: 27px;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-section p,
.footer-section ul {
  margin: 0 0 15px;
  font-size: 17px;
  line-height: 24px;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: var(--color-white);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: var(--color-black);
}

.social-icons a {
  color: var(--color-white);
  font-size: 16px;
  margin-right: 15px;

  text-decoration: none;
  transition: color 0.3s;
  padding: 10px;
}
.social-icons a:hover {
  color: var(--color-white);
  background-color:var(--background-orange);
  border-radius: 10px;
}
.contact-form input[type="email"] {
  padding: 10px;
  border: none;
  margin-right: 5px;
  width: 100%;
  border-radius: 7px;
}
.footer-bottom {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #333;
  margin-top: 30px;
  font-size: 14px;
}
.email {
  padding: 10px;
  width: 100%;
}
/* footer end */


